// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/* Navigation Scss */
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 8vh;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: #fff;
  overflow: hidden;
  letter-spacing: 4px;
  z-index: 1000;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 55vw;
  margin: 1em;
  background-color: #fff;
}
.nav-links li {
  list-style: none;
  padding: 5px;
  margin: 0 0.5em;
  font-weight: 200;
}
.nav-links a {
  text-decoration: none;
  color: $navColor;
}
.nav-links a:hover {
  color: var(--standard-gold);
  font-size: 1.1em;
}
.hamburger.hamburger--spin {
  display: none;
}
.logo {
  width: 3em;
  margin: 0;
  font-size: 1.7em;
  color: $navColor;
  & a {
    color: $navColor;
    text-decoration: none;
  }
}
.book-btn {
  cursor: pointer;
  outline: none;
  margin: 1em 0;
  font-size: 14px;
  border: none;
  color: #000;
  width: 6em;
  height: 2em;
  border-radius: 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px,
    rgba(0, 0, 0, 0.15) 0px 10px 10px;
}
.links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btn {
  display: none;
}
.nav-menu-logo {
  display: none;
}
.nav-icon {
  display: none;
}

/* burger css */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $navColor;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 2px;
  background-color: $navColor;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
/* Spin */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* media queries */
@media screen and (max-width: 1000px) {
  body {
    display: block;
    overflow-x: hidden;
  }
  .hamburger.hamburger--spin {
    display: block;
  }
  nav {
    position: fixed;
    z-index: 100;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: 0;
    height: 6.5vh;
    padding: 0;
    overflow: hidden;
    padding: 1em;
  }
  .nav-links {
    margin: 0;
    position: fixed;
    z-index: 0;
    width: 60%;
    right: 0px;
    height: 94vh;
    padding: 1em;
    top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .nav-links li {
    opacity: 0;
    padding: 1em;

    text-align: center;
    color: #fff;
    width: 100%;
    margin-bottom: 0.5em;
  }
  .nav-links li:nth-child(1) {
    border-right: 5px solid $palePink;
  }
  .logo img {
    margin: 0;
    width: 12vw;
  }
  .is-active {
    transform: translateX(0%);
  }

  .nav-icon {
    display: block;
    width: 2em;
    height: 2em;
  }
  .nav-btn {
    display: block;
    max-width: 8em;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .nav-menu-logo {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 2em;
    color: #fff;
    margin: auto;
  }
  .nav-icon {
    display: block;
    width: 2em;
    height: 2em;
  }
}
@media screen and (max-width: 425px) {
  body {
    display: block;
    overflow-x: hidden;
  }
  .hamburger.hamburger--spin {
    display: block;
  }
  nav {
    position: fixed;
    z-index: 100;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: 0;

    padding: 0.6em;
    overflow: hidden;
  }
  .nav-links {
    margin: 0;
    position: fixed;
    z-index: 0;
    width: 60%;
    right: 0px;
    height: 94vh;
    padding: 1em;
    top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .nav-links li {
    opacity: 0;
    padding: 0.8em 1.5em;
    color: #fff;
  }

  .logo {
    margin: 0;
    width: 16vw;
    color: #fff;
  }
  .is-active {
    transform: translateX(0%);
  }
  .nav-icon {
    display: block;
    width: 2em;
    height: 2em;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
