// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Scss */
body {
  background-color: #fff;
}

nav {
  z-index: 1000;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100vw;
  background-color: transparent;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  margin: 1em;
}

.nav-links li {
  list-style: none;
  padding: 5px;
  margin: 0 2em;
}

.nav-links li:nth-child(1) {
  border-bottom: 1px solid #fff;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.hamburger.hamburger--spring {
  display: none;
}

.logo {
  width: auto;
  margin: 1em;
  font-size: 1.2em;
  font-weight: 100;
  color: #fff;

  & a {
    color: $navColor;
    text-decoration: none;
  }
}

.social-media-icons {
  display: none;
}

.nav-menu-logo {
  display: none;
  color: #fff;
}

.nav-icon {
  display: none;
}

/* burger css */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
  box-shadow: none;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
  border: none;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/* media queries */
@media screen and (max-width: 1024px) {
  body {
    display: block;
    overflow-x: hidden;
  }

  .hamburger.hamburger--spring {
    display: block;
    box-shadow: none;
  }

  nav {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    height: 6vh;
    padding: 0.5em;
  }

  .nav-links {
    margin: 0;
    position: fixed;
    z-index: 0;
    width: 80%;
    right: 0px;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    background-color: #fff;
  }

  .nav-links li {
    opacity: 0;
    padding: 0.5em 2em;
    font-size: 1.1em;
    text-align: center;
    color: black;
    margin: 0.3em;
    width: 90%;
    border-bottom: 1px solid $navColor;
    &:hover {
      border-bottom: 1px solid blue;
    }
  }

  .nav-links li:nth-child(1) {
    border-bottom: 1px solid $navColor;
  }

  .nav-links li a {
    color: $navColor;
  }

  .nav-links li:nth-child(1) {
    margin-top: 3em;
  }

  .nav-links li:hover {
    text-decoration: none;
  }

  .logo {
    z-index: 100;
    font-weight: 100;
    margin: 0;
    width: auto;
    color: $navColor;
  }

  .is-active {
    transform: translateX(0%);
  }

  .nav-menu-logo {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 2em;
    color: #fff;
    margin: auto;
  }

  .social-media-icons {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: 4em;

    padding: 1em;
  }

  .nav-icon {
    display: block;
    width: 2em;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}