/* Main Container CSS */
#main-container {
  position: relative;
  padding: 0;
  margin: auto;
  width: 100%;
  top: auto;
}
.s-landing-section {
  position: relative;
  width: 100%;
  height: calc((100vw / 1.8) - 88px);
  max-height: 500px;
  margin: auto;
  line-height: 1.5;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/images/empty-living-room-with-blue-sofa-plants-table-empty-white-wall-background-3d-rendering.jpg);
  background-position: center;
  background-size: cover;
}
.standard-btn {
  width: 8.8em;
  padding: 1em;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
  background-color: #ffb5a7;
  margin: 1em 0;
  color: #fff;
  border-radius: 5px;
  border: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.standard-icon {
  width: 2em;
  height: 2em;
}
/* landing */
.s-landing-section {
  width: 100%;
}
.s-landing-container {
  padding: 0.5em;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 0.7em;
  background-size: 110% 110%;
  background-position: center center;
  animation: shrink 10s infinite alternate;
  @include flexCenter(column);
  color: #fff;
}
@media (max-width: 991.98px) {
  .s-landing-section {
    height: calc(100vw * 1.3);
  }
}
@media all and (max-width: 768px) {
  #main-container {
    position: relative;
    padding: 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
  }
  .s-landing-section {
    width: 100%;
    margin: auto;
    height: 40vh;
    background-color: white;
    border: 0;
  }
  .s-landing-container {
    padding: 1em;
    height: 100%;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(/images/121233635_136826254851074_1067771669205706422_n.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 0.7em;
    @include flexCenter(column);
    color: $navColor;
    border-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media all and (max-width: 425px) {
  #main-container {
    position: relative;
    padding: 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
  }
  .s-landing-section {
    width: 100%;
    margin: auto;
    height: 40vh;
    background-color: white;
    border: 0;
  }
}
/* Services Intro */
.services-intro-section {
  width: 100%;
}
.services-intro-container {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  text-align: center;
}
.services-intro-content {
  text-align: left;
  margin-top: 3em;
  line-height: 1.88;
  & ul li {
    font-size: 0.9em;
    margin: 0.5em 0;
    padding: 0 1em;
  }
  & ul {
    padding: 1em;
  }
  & h2 {
    color: #ffb5a7;
  }
}
