@media (min-width: 0px) {


  .services-content-section {
    max-width: 1200px;
    width: 100%;
    padding: 1em;
    margin: auto;

    & .services-content-heading {
      margin-bottom: 1em;
      font-size: 1.3em;
    }
  }
}
