// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$mistyrose: #fae1dd;
$palePink: #fcd5ce;
$navColor: rgba(0, 0, 0, 0.7);
$platinum: #e6eaeb;
$melon: #e0afa0;
$manatee: #9599b0;
$snow: #fffbff;


// X
$primary-color: #f7657d;
$light-gray: #e9ecef;