// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$mistyrose: #fae1dd;
$palePink: #fcd5ce;
$navColor: rgba(0, 0, 0, 0.7);
$platinum: #e6eaeb;
$melon: #e0afa0;
