@media (min-width: 0px) {
    .call-section {
        width: 100%;
        text-align: left;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url(/images/img6.jpg);
        background-position: center center;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 60vh;
        font-size: 1.5em;
        font-weight: 100;
        padding: 1em;
    }
}

@media (min-width: 768px) {
    .call-section {
        width: 100%;
        text-align: left;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url(/images/img6.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 500px;
        font-size: 1.5em;
        font-weight: 100;
        padding: 1em;
    }
}

@media (min-width: 1024px) {
    .call-section {
        width: 100%;
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url(/images/img6.jpg);
        background-position: center 70%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
        font-size: 1.5em;
        font-weight: 100;
        padding: 1em;
    }
}