.quote-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.img {
  width: 100%;
  background: url(/images/kam-idris-_HqHX3LBN18-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.quote-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  background: #f1f1f1;
  margin: auto;
  max-width: 1200px;
  grid-template-areas: "img box";
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.quote-card .img {
  max-height: 400px;
  grid-area: img;
}
.quote-card > div {
  padding: 0.5em;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  grid-area: box;
  height: 400px;
}
.quote-card:nth-child(even) img {
  order: 2;
}
@media (max-width: 768px) {
  .quote-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    background: #f1f1f1;
    margin: auto;
    max-width: 500px;
    grid-template-areas:
      "box"
      "img";
  }
}
/* why */
.why-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.why-img {
  width: 100%;
  background: url(/images/sven-brandsma-GZ5cKOgeIB0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.why-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  background: #f1f1f1;
  margin: auto;
  max-width: 1200px;
  grid-template-areas: "box img";
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.why-card .why-img {
  max-height: 400px;
  grid-area: img;
}
.why-card > div {
  padding: 0.5em;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  grid-area: box;
  height: 400px;
}
@media (max-width: 768px) {
  .why-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    background: #f1f1f1;
    margin: auto;
    max-width: 500px;
    grid-template-areas:
      "box"
      "img";
  }
}
/* Business Info Container */
.business-info-container {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: auto;
  max-width: 1200px;
  grid-template-areas: "form info";
}
#contact {
  padding: 0.5em 1em;
}
.form {
  width: 100%;
  max-width: 400px;
  margin: 0 1em;
  background-color: #f1f1f1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  & input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 1em;
    border: 0;
    border-bottom: 1px solid #000;
    outline: none;
  }
}
.contact-form-heading {
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  padding: 0.5em;
  background: #fff;
}
.flex-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0.5em 0;
}
.business-phone,
.business-email,
.business-hrs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0.5em 0;
  & p {
    margin: 0em 0.5em;
  }
  & span {
    color: $melon;
    margin: 0 0.5em;
  }
  & .hrs-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    margin: 1em 0;
  }
  & .hrs-headings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.business-hrs {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.formtop {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.9);
}
@media all and (max-width: 768px) {
  .business-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    max-width: 1200px;
    grid-template-areas: "form info";
  }
  .form {
    width: 100%;
    max-width: 400px;
    margin: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 450px;
    & input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 1em;

      outline: none;
    }
  }
  #contact {
    padding: 1em;
  }
  .hrs-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
    & p {
      margin: 0.3em 0;
    }
  }
}
