@media (min-width: 0px) {
  .services-landing {
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: url(/images/img2.jpg);
    background-size: cover;
    background-position: 50% 100%;

    &>h1 {
      position: relative;
      top: 8vh;
    }
  }
}

@media (min-width: 1000px) {
  .services-landing {
    height: 25vh;
  }
}