@media (min-width: 0px){
    .rates-section{
        max-width: 1200px;
        width: 100%;
        padding: 0 1em 1em 1em;
        margin: auto;
        & .rates-heading{
            & ul{
                list-style:circle;
                padding: 1em;
                & li{
                    padding-bottom: .5em;
                }
            }
        }
        & img{
            width: 100%;
        }
    }
}