/**
 * Set up a decent box model on the root element
 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Roots */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Gambetta', serif;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Navigation Scss */
body {
  background-color: #fff;
}

nav {
  z-index: 1000;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  width: 100vw;
  background-color: transparent;
}

nav .is-active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50vw;
  margin: 1em;
}

.nav-links li {
  list-style: none;
  padding: 5px;
}

.nav-links li:nth-child(1) {
  border-bottom: 1px solid #fff;
}

.nav-links li:hover {
  border-bottom: 1px solid #fff;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.hamburger.hamburger--spring {
  display: none;
}

.logo {
  width: auto;
  margin: 1em;
  font-size: 1.2em;
  font-weight: 100;
  color: #fff;
}

.logo a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.social-media-icons {
  display: none;
}

.nav-menu-logo {
  display: none;
  color: #fff;
}

.nav-icon {
  display: none;
}

/* burger css */
.hamburger {
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
  border: none;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/* media queries */
@media screen and (max-width: 1024px) {
  body {
    display: block;
    overflow-x: hidden;
  }
  .hamburger.hamburger--spring {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    height: 6vh;
    padding: 0.5em;
  }
  .nav-links {
    margin: 0;
    position: fixed;
    z-index: 0;
    width: 80%;
    right: 0px;
    height: 100vh;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    background-color: #fff;
  }
  .nav-links li {
    opacity: 0;
    padding: 0.5em 2em;
    font-size: 1.1em;
    text-align: left;
    color: black;
    margin: 0.3em;
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  }
  .nav-links li:nth-child(1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  }
  .nav-links li a {
    color: rgba(0, 0, 0, 0.7);
  }
  .nav-links li:nth-child(1) {
    margin-top: 3em;
  }
  .nav-links li:hover {
    text-decoration: none;
  }
  .logo {
    z-index: 100;
    font-weight: 100;
    margin: 0;
    width: auto;
    color: rgba(0, 0, 0, 0.7);
  }
  .is-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-menu-logo {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 2em;
    color: #fff;
    margin: auto;
  }
  .social-media-icons {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    bottom: 4em;
    padding: 1em;
  }
  .nav-icon {
    display: block;
    width: 2em;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

/* STYLES SPECIFIC TO FOOTER  */
.contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #f1f1f1;
}

.footer a {
  color: inherit;
}

.footer .col {
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 1em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 0.9em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.social ul li img {
  margin: 0;
}

.footer .col ul li:hover {
  color: #000;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.clearfix {
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer .col {
    width: 100%;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  .social ul li img {
    margin: 0 0.7em;
  }
}

.credit {
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  padding: 1em;
}

.credit p {
  color: #000;
}

.credit a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.quote-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.img {
  width: 100%;
  background: url(/images/kam-idris-_HqHX3LBN18-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.quote-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  background: #f1f1f1;
  margin: auto;
  max-width: 1200px;
      grid-template-areas: "img box";
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  line-height: 1.8em;
}

.quote-card .img {
  max-height: 400px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img;
}

.quote-card > div {
  padding: 0.5em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box;
  height: 400px;
}

.quote-card:nth-child(even) img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 768px) {
  .quote-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
    background: #f1f1f1;
    margin: auto;
    max-width: 500px;
        grid-template-areas: "box" "img";
  }
}

/* why */
.why-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.why-img {
  width: 100%;
  background: url(/images/sven-brandsma-GZ5cKOgeIB0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.why-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  background: #f1f1f1;
  margin: auto;
  max-width: 1200px;
      grid-template-areas: "box img";
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  line-height: 1.8em;
}

.why-card .why-img {
  max-height: 400px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img;
}

.why-card > div {
  padding: 0.5em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box;
  height: 400px;
}

@media (max-width: 768px) {
  .why-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
    background: #f1f1f1;
    margin: auto;
    max-width: 500px;
        grid-template-areas: "box" "img";
  }
}

.top-link {
  display: none;
}

@media (max-width: 1024px) {
  .top-link {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    z-index: 101;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1px;
    width: 100%;
    height: 60px;
    background: #ced4da;
    font-size: 1.2em;
  }
  .top-link.show {
    visibility: visible;
    opacity: 1;
  }
  .top-link.hide {
    visibility: hidden;
    opacity: 0;
  }
  .top-link:hover {
    background-color: var(--standard-gold);
  }
  .top-link:hover svg {
    fill: #000000;
  }
  .payment-icon {
    height: 1.5em;
  }
  .screen-reader-text {
    position: absolute;
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .screen-reader-text:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000;
    -webkit-clip-path: none;
            clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
  }
  .fixed-donate {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fixed-donate > div {
    margin-left: 1em;
    text-decoration: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

@media (min-width: 0px) {
  .newsletter-section {
    width: 100%;
    padding: 1em;
  }
  .newsletter-container {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .newsletter-heading {
    text-align: left;
  }
  .nl-form {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 500px;
    border-radius: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 1em 0;
  }
  .nl-form input[type="submit"] {
    background: #ffb5a7;
    border: 1px solid #ffb5a7;
    color: #fff;
    padding: 0 30px;
    border-radius: 2em;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .nl-form input[type="submit"]:hover {
    background: #d73851;
    border: 1px solid #d73851;
    border-radius: 2em;
  }
  .nl-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
  }
  input[type="search"] {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
    border-radius: 2em;
  }
}

@media (min-width: 1000px) {
  .newsletter-container {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    height: 20vh;
  }
}

@media (min-width: 0px) {
  .call-section {
    width: 100%;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(/images/katsia-jazwinska-ZIXIMHafhaE-unsplash.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/katsia-jazwinska-ZIXIMHafhaE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
    font-family: 'Rosaline', cursive;
    font-size: 1.5em;
    font-weight: 100;
    padding: 1ems;
  }
}

@media (min-width: 0px) {
  .form-section {
    width: 100%;
    padding: 1em;
  }
  .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 1em;
    max-width: 450px;
    margin: auto;
  }
  .form h1 {
    margin-bottom: 1em;
  }
  .form > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
  .form button {
    padding: .5em 2em;
    border: 0;
    background-color: transparent;
    border-radius: .5em;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-bottom: 1em;
  }
  .form label input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: unset;
    outline: 0;
    padding: .7em;
  }
  .form label input:hover {
    border-bottom: 1px solid blue;
  }
  .form label select {
    width: 100%;
  }
  .form label textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    border-radius: unset;
    padding: 1em;
  }
  .form label textarea:hover {
    border-bottom: 1px solid blue;
  }
}

/* Main Container CSS */
.landing-section {
  position: relative;
  width: 100%;
  height: calc((100vw / 1.8) - 88px);
  line-height: 1.5;
}

.standard-btn {
  width: 10em;
  padding: 1em;
  text-align: center;
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  margin: 1em 0;
  color: #000;
  border-radius: 5px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.landing-btn {
  width: 10em;
  padding: 1em;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  margin: 1em 0;
  color: #000;
  border-radius: 5px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: white;
}

.standard-icon {
  width: 2em;
  height: 2em;
}

/* landing */
.landing-section {
  width: 100%;
}

.landing-container {
  padding: 0.5em;
  height: 100%;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(/images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 1.2em;
  background-size: 110% 110%;
  background-position: center center;
  -webkit-animation: shrink 10s infinite alternate;
          animation: shrink 10s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.landing-container .logo-h1 {
  font-size: 3.5em;
  padding: 0%;
  font-family: 'Rosaline', cursive;
  font-weight: 100;
}

.landing-container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container p::before {
  content: '-';
  font-size: 2em;
  margin-right: .2em;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing-container p::after {
  content: '-';
  font-size: 2em;
  margin-left: .2em;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 991.98px) {
  .landing-section {
    height: calc(100vw * 1.3);
  }
}

@media all and (max-width: 768px) {
  #main-container {
    position: relative;
    padding: 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    top: 6vh;
  }
  .landing-section {
    width: 100%;
    margin: auto;
    height: 90vh;
    border: 0;
  }
  .landing-container {
    width: 100%;
    padding: 0.5em;
    height: 100%;
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(/images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
    background-size: cover;
    background-position: 0% 90%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    border-bottom: 0;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    align-items: center;
  }
  .landing-heading {
    position: relative;
    margin-top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 425px) {
  #main-container {
    position: relative;
    padding: 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    top: 6vh;
  }
  .landing-section {
    width: 100%;
    margin: auto;
    height: 100vh;
    background-color: white;
    border: 0;
  }
}

/* Services */
@media (min-width: 0px) {
  .services-section {
    width: 100%;
  }
  .services-container {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
  }
  .services-heading {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  .services-heading h2 {
    white-space: nowrap;
  }
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-left: 1px dotted rgba(0, 0, 0, 0.1);
  }
  .services .service-item {
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;
    line-height: 1.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: .5em;
  }
  .services .service-item .service-img {
    width: 100%;
    height: 30vh;
  }
  .services .service-item .service-img-1 {
    background: url(/images/sven-brandsma-GZ5cKOgeIB0-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  .services .service-item .service-img-2 {
    background: url(/images/front-view-white-basket-with-towels.jpg);
    background-size: cover;
    background-position: center;
  }
  .services .service-item .service-img-3 {
    background: url(/images/naomi-hebert-MP0bgaS_d1c-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  .services .service-item .service-img-4 {
    background: url(/images/grocery.jpg);
    background-size: cover;
    background-position: center;
  }
  .services .service-item .service-content {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .service-item .service-content .service-item-top {
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: .5em;
    border-left: 1px solid black;
    padding-left: .5em;
  }
  .services .service-item .service-content *:nth-child(1) {
    font-size: 1.3em;
    font-weight: 500;
    padding: .2em;
  }
  .services .service-item .service-content *:nth-child(2) {
    padding-left: .5em;
    margin-bottom: .5em;
  }
  .services .service-item .service-content .service-btn::after {
    content: url(/images/right.svg);
    width: 1em;
    height: 1em;
    padding-left: .5em;
  }
}

@media (min-width: 768px) {
  .services {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1em;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    border: 0;
    margin: auto;
    margin: 0;
    place-items: center;
  }
  .services .service-item {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .services {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1em;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    border: 0;
    margin: auto;
    margin: 0;
    place-items: center;
  }
  .services .service-item {
    width: 60%;
  }
}

@media (min-width: 1150px) {
  .services {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    border: 0;
    margin: auto;
    margin: 0;
    place-items: center;
  }
  .services .service-item {
    width: 100%;
    height: 425px;
  }
}

@media (min-width: 0px) {
  .contact-section {
    width: 100%;
  }
  .contact-section .contact-container {
    max-width: 1200px;
    padding: 1em;
  }
}

/* Newsletter */
.newsletter-section {
  width: 100%;
  padding: 1em;
}

@media (min-width: 0px) {
  .services-landing {
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(/images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
    background-size: cover;
    background-position: center;
  }
  .services-landing > h1 {
    color: white;
    position: relative;
    top: 8vh;
  }
  .services-content-section {
    max-width: 1200px;
    width: 100%;
    padding: 1em;
    margin: auto;
  }
  .services-content-section .services-content-heading {
    margin-bottom: 1em;
    font-size: 1.3em;
  }
}

@media (min-width: 1000px) {
  .services-landing {
    height: 25vh;
  }
}

@media (min-width: 0px) {
  .about-landing {
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(/images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
    background-size: cover;
    background-position: center;
  }
  .about-landing > h1 {
    color: white;
    position: relative;
    top: 8vh;
    white-space: nowrap;
  }
  .about-content-section {
    padding: 1em;
    width: 100%;
    line-height: 1.9em;
    max-width: 1200px;
    margin: auto;
  }
  .about-content-section .about-img {
    width: 100%;
    max-width: 450px;
  }
  .about-content-section h2 {
    margin-bottom: 1em;
  }
  .about-content-section *:nth-child(3) {
    margin-bottom: 1em;
  }
  .value-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1em;
    padding: 1em;
    place-items: center;
  }
  .value-section .value-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 2em 1em;
    text-align: center;
    font-size: 1.5em;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: repeating-linear-gradient(188deg, rgba(222, 222, 222, 0.12) 0px, rgba(222, 222, 222, 0.12) 2px, transparent 2px, transparent 5px, rgba(222, 222, 222, 0.12) 5px, rgba(222, 222, 222, 0.12) 7px, transparent 7px, transparent 9px, rgba(222, 222, 222, 0.12) 9px, rgba(222, 222, 222, 0.12) 11px), repeating-linear-gradient(162deg, rgba(222, 222, 222, 0.12) 0px, rgba(222, 222, 222, 0.12) 2px, transparent 2px, transparent 5px, rgba(222, 222, 222, 0.12) 5px, rgba(222, 222, 222, 0.12) 7px, transparent 7px, transparent 14px, rgba(222, 222, 222, 0.12) 14px, rgba(222, 222, 222, 0.12) 16px), repeating-linear-gradient(0deg, rgba(222, 222, 222, 0.15) 0px, rgba(222, 222, 222, 0.15) 0px, transparent 0px, transparent 1px, rgba(222, 222, 222, 0.15) 1px, rgba(222, 222, 222, 0.15) 4px, transparent 4px, transparent 5px, rgba(222, 222, 222, 0.15) 5px, rgba(222, 222, 222, 0.15) 8px), repeating-linear-gradient(90deg, rgba(222, 222, 222, 0.15) 0px, rgba(222, 222, 222, 0.15) 0px, transparent 0px, transparent 1px, rgba(222, 222, 222, 0.15) 1px, rgba(222, 222, 222, 0.15) 4px, transparent 4px, transparent 5px, rgba(222, 222, 222, 0.15) 5px, rgba(222, 222, 222, 0.15) 8px), -webkit-gradient(linear, left top, right top, from(#fbfbfb), to(#fbfbfb));
    background-image: repeating-linear-gradient(188deg, rgba(222, 222, 222, 0.12) 0px, rgba(222, 222, 222, 0.12) 2px, transparent 2px, transparent 5px, rgba(222, 222, 222, 0.12) 5px, rgba(222, 222, 222, 0.12) 7px, transparent 7px, transparent 9px, rgba(222, 222, 222, 0.12) 9px, rgba(222, 222, 222, 0.12) 11px), repeating-linear-gradient(162deg, rgba(222, 222, 222, 0.12) 0px, rgba(222, 222, 222, 0.12) 2px, transparent 2px, transparent 5px, rgba(222, 222, 222, 0.12) 5px, rgba(222, 222, 222, 0.12) 7px, transparent 7px, transparent 14px, rgba(222, 222, 222, 0.12) 14px, rgba(222, 222, 222, 0.12) 16px), repeating-linear-gradient(0deg, rgba(222, 222, 222, 0.15) 0px, rgba(222, 222, 222, 0.15) 0px, transparent 0px, transparent 1px, rgba(222, 222, 222, 0.15) 1px, rgba(222, 222, 222, 0.15) 4px, transparent 4px, transparent 5px, rgba(222, 222, 222, 0.15) 5px, rgba(222, 222, 222, 0.15) 8px), repeating-linear-gradient(90deg, rgba(222, 222, 222, 0.15) 0px, rgba(222, 222, 222, 0.15) 0px, transparent 0px, transparent 1px, rgba(222, 222, 222, 0.15) 1px, rgba(222, 222, 222, 0.15) 4px, transparent 4px, transparent 5px, rgba(222, 222, 222, 0.15) 5px, rgba(222, 222, 222, 0.15) 8px), linear-gradient(90deg, #fbfbfb, #fbfbfb);
    white-space: nowrap;
  }
  .value-section .value-item .value-item-img {
    width: 3em;
    height: 3em;
  }
  .follow-section {
    width: 100%;
    background-image: repeating-linear-gradient(188deg, rgba(222, 222, 222, 0.12) 0px, rgba(222, 222, 222, 0.12) 2px, transparent 2px, transparent 5px, rgba(222, 222, 222, 0.12) 5px, rgba(222, 222, 222, 0.12) 7px, transparent 7px, transparent 9px, rgba(222, 222, 222, 0.12) 9px, rgba(222, 222, 222, 0.12) 11px), repeating-linear-gradient(162deg, rgba(222, 222, 222, 0.12) 0px, rgba(222, 222, 222, 0.12) 2px, transparent 2px, transparent 5px, rgba(222, 222, 222, 0.12) 5px, rgba(222, 222, 222, 0.12) 7px, transparent 7px, transparent 14px, rgba(222, 222, 222, 0.12) 14px, rgba(222, 222, 222, 0.12) 16px), repeating-linear-gradient(0deg, rgba(222, 222, 222, 0.15) 0px, rgba(222, 222, 222, 0.15) 0px, transparent 0px, transparent 1px, rgba(222, 222, 222, 0.15) 1px, rgba(222, 222, 222, 0.15) 4px, transparent 4px, transparent 5px, rgba(222, 222, 222, 0.15) 5px, rgba(222, 222, 222, 0.15) 8px), repeating-linear-gradient(90deg, rgba(222, 222, 222, 0.15) 0px, rgba(222, 222, 222, 0.15) 0px, transparent 0px, transparent 1px, rgba(222, 222, 222, 0.15) 1px, rgba(222, 222, 222, 0.15) 4px, transparent 4px, transparent 5px, rgba(222, 222, 222, 0.15) 5px, rgba(222, 222, 222, 0.15) 8px), -webkit-gradient(linear, left top, right top, from(#fbfbfb), to(#fbfbfb));
    background-image: repeating-linear-gradient(188deg, rgba(222, 222, 222, 0.12) 0px, rgba(222, 222, 222, 0.12) 2px, transparent 2px, transparent 5px, rgba(222, 222, 222, 0.12) 5px, rgba(222, 222, 222, 0.12) 7px, transparent 7px, transparent 9px, rgba(222, 222, 222, 0.12) 9px, rgba(222, 222, 222, 0.12) 11px), repeating-linear-gradient(162deg, rgba(222, 222, 222, 0.12) 0px, rgba(222, 222, 222, 0.12) 2px, transparent 2px, transparent 5px, rgba(222, 222, 222, 0.12) 5px, rgba(222, 222, 222, 0.12) 7px, transparent 7px, transparent 14px, rgba(222, 222, 222, 0.12) 14px, rgba(222, 222, 222, 0.12) 16px), repeating-linear-gradient(0deg, rgba(222, 222, 222, 0.15) 0px, rgba(222, 222, 222, 0.15) 0px, transparent 0px, transparent 1px, rgba(222, 222, 222, 0.15) 1px, rgba(222, 222, 222, 0.15) 4px, transparent 4px, transparent 5px, rgba(222, 222, 222, 0.15) 5px, rgba(222, 222, 222, 0.15) 8px), repeating-linear-gradient(90deg, rgba(222, 222, 222, 0.15) 0px, rgba(222, 222, 222, 0.15) 0px, transparent 0px, transparent 1px, rgba(222, 222, 222, 0.15) 1px, rgba(222, 222, 222, 0.15) 4px, transparent 4px, transparent 5px, rgba(222, 222, 222, 0.15) 5px, rgba(222, 222, 222, 0.15) 8px), linear-gradient(90deg, #fbfbfb, #fbfbfb);
  }
  .follow-section *:nth-child(1) {
    white-space: nowrap;
    padding: 1em 1em 0 1em;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .follow-section *:nth-child(1) a {
    padding: 0 .2em 0 0;
    text-decoration: underline;
    color: purple;
  }
  .follow-section img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .value-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    padding: 1em;
    place-items: center;
    max-width: 1200px;
    margin: auto;
  }
}

@media (min-width: 1000px) {
  .about-landing {
    height: 25vh;
  }
  .value-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1em;
    padding: 1em;
    place-items: center;
    max-width: 1200px;
    margin: auto;
  }
  .follow-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .follow-section *:nth-child(1) {
    padding: 0;
    text-align: center;
  }
  .follow-section *:nth-child(1) a {
    padding: 0 .2em 0 0;
    text-decoration: underline;
    color: purple;
  }
  .follow-section img {
    width: 400px;
  }
}

@media (min-width: 1300px) {
  .value-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1em;
    padding: 1em;
    place-items: center;
    max-width: 1200px;
    margin: auto;
  }
}

@media (min-width: 0px) {
  .form-landing {
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(/images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
    background-size: cover;
    background-position: center;
  }
  .form-landing > h1 {
    color: white;
    position: relative;
    top: 8vh;
  }
}

@media (min-width: 1000px) {
  .form-landing {
    height: 25vh;
  }
}
/*# sourceMappingURL=main.css.map */